# Geração das Tabelas
### Importando as bibliotecas
Neste código serão gerados os dados aleatórios que serão inseridos no banco SQLite e posteriormente utilizados na análise.

In [1]:
import matplotlib.pyplot as plt
from faker import Faker
import pandas as pd
import numpy as np
import sqlite3
import random

In [2]:
fake = Faker('pt_BR')

Criamos os dados que dizem respeito à entidade `Usuário`:

In [3]:
Usuario = {
    'id_usuario': [],
    'ip_usuario': [],
    'primeiro_nome': [],
    'sobrenome': [],
    'email': [],
    'username': [],
    'telefone': [],
    'CEP': [],
    'cidade': [],
    'estado': [],
    'status': [],
    'imagem': []
}

for idusuario in range(1, 201):
    Usuario['id_usuario'].append(idusuario)
    Usuario['ip_usuario'].append(fake.ipv4())
    Usuario['primeiro_nome'].append(fake.first_name())
    Usuario['sobrenome'].append(fake.last_name())
    Usuario['email'].append(fake.ascii_email())
    Usuario['username'].append(fake.user_name())
    Usuario['telefone'].append(fake.phone_number())
    Usuario['CEP'].append(fake.postcode())
    Usuario['cidade'].append(fake.city())
    Usuario['estado'].append(fake.estado_sigla())
    Usuario['status'].append(random.choice(['Gente boa', 'Buscando partidas', 'Buscando novas amizades', 'Offline', 'Online']))
    Usuario['imagem'].append(fake.image_url())

usuarios = pd.DataFrame(Usuario)
usuarios = usuarios.drop(['id_usuario'], axis=1)
usuarios.head()

,ip_usuario,primeiro_nome,sobrenome,email,username,telefone,CEP,cidade,estado,status,imagem
0,182.3.33.116,Carlos Eduardo,das Neves,pietrodas-neves@da.com,joao-pedrofreitas,0500 510 0105,32578-436,Pires,RJ,Gente boa,https://placeimg.com/770/497/any
1,210.0.235.247,Ana Julia,da Mata,nascimentosophie@pereira.br,heloisa76,11 2134-4395,44752705,Moreira,TO,Offline,https://placekitten.com/687/164
2,10.86.122.154,Guilherme,Silveira,maria-clara97@novaes.com,vitorcavalcanti,(071) 8620 4692,87718168,Cardoso do Oeste,PR,Buscando novas amizades,https://placeimg.com/271/758/any
3,22.212.4.143,Caio,Moraes,salesamanda@gomes.br,kalmeida,51 4823 1122,84144107,Gonçalves,RN,Buscando partidas,https://dummyimage.com/675x299
4,16.58.250.146,Maria Vitória,Rodrigues,enzonunes@souza.net,rochavicente,84 4544 3372,43043428,Cunha dos Dourados,RJ,Offline,https://dummyimage.com/793x965

Para fins de análise e evitar uma aleatorização completa dos dados, coletamos algumas informações entre os alunos da EMAp. Abaixo unimos o DataFrame aleatório gerado acima aos dados coletados no Google Forms. Claro, como os dados coletados são anônimos, a concatenação se dará sem qualquer tipo de critério além da ordem das linhas.

In [ ]:
# desenrolar o código pra inserir a senha hasheada
# juntar essa base com os dados do forms

Criamos os dados que dizem respeito à entidade `Quadra`:

In [4]:
Quadra = {
    'id_quadra': [],
    'tipo': [],
    'rua': [],
    'CEP': [],
    'cidade': [],
    'estado': [],
    'alugada': [],
    'telefone': [],
    'estrelas': [],
    'valor_hora': [],
    'horario_abertura': [],
    'horario_fechamento': [],
    'descricao': []
}

for idquadra in range(1, 201):
    Quadra['id_quadra'].append(idquadra)
    Quadra['tipo'].append(random.choice(['Basquete', 'Vôlei', 'Futebol', 'Futsal', 'Handebol']))
    Quadra['rua'].append(fake.street_name())
    Quadra['CEP'].append(fake.postcode())
    Quadra['cidade'].append(fake.city())
    Quadra['estado'].append(fake.estado_sigla())
    Quadra['alugada'].append(random.choice([True, False]))
    Quadra['telefone'].append(fake.phone_number())
    Quadra['estrelas'].append(random.randint(0,5))
    Quadra['valor_hora'].append(random.randint(5,50))
    Quadra['horario_abertura'].append(random.randint(7, 11))
    Quadra['horario_fechamento'].append(random.randint(16, 20))
    Quadra['descricao'].append(random.choice(['Espaço fechado', 'Com churrasqueira', 'Cerveja gelada', 'Localização ótima', 'Bom custo-benefício']))

quadras = pd.DataFrame(Quadra)
quadras = quadras.drop(['id_quadra'], axis=1)
quadras.head()

,tipo,rua,CEP,cidade,estado,alugada,telefone,estrelas,valor_hora,horario_abertura,horario_fechamento,descricao
0,Futsal,Quadra de Oliveira,74384-951,Sales,CE,True,0900 979 8897,1,43,11,16,Espaço fechado
1,Handebol,Esplanada Yasmin Farias,34281800,Porto Grande,CE,True,0500-951-8485,5,11,8,20,Espaço fechado
2,Basquete,Área Maitê Souza,71943744,Moreira,RJ,True,0300-338-2190,0,18,11,18,Com churrasqueira
3,Vôlei,Favela de da Paz,42237-784,Rezende,SC,False,(081) 9779-7347,4,5,9,16,Localização ótima
4,Basquete,Colônia de Jesus,65148-216,Cardoso,PR,True,+55 41 2114-4267,0,27,11,18,Localização ótima

Agora podemos fazer a conexão com o banco e inserir os dados via linha de código:

In [10]:
con = sqlite3.connect('db.sqlite3')
cur = con.cursor()

In [6]:
for row in cur.execute('PRAGMA table_info(base_usuario)'):
    print(row)

(0, 'id', 'integer', 1, None, 1)
(1, 'password', 'varchar(128)', 1, None, 0)
(2, 'last_login', 'datetime', 0, None, 0)
(3, 'ip_usuario', 'char(39)', 0, None, 0)
(4, 'primeiro_nome', 'varchar(80)', 1, None, 0)
(5, 'sobrenome', 'varchar(80)', 1, None, 0)
(6, 'email', 'varchar(80)', 1, None, 0)
(7, 'username', 'varchar(15)', 1, None, 0)
(8, 'CEP', 'varchar(8)', 1, None, 0)
(9, 'cidade', 'varchar(80)', 1, None, 0)
(10, 'estado', 'varchar(80)', 1, None, 0)
(11, 'status', 'varchar(150)', 1, None, 0)
(12, 'fav_esport', 'varchar(80)', 1, None, 0)
(13, 'altura', 'integer', 1, None, 0)
(14, 'idade', 'integer', 1, None, 0)
(15, 'peso', 'real', 1, None, 0)
(16, 'genero', 'varchar(1)', 1, None, 0)
(17, 'is_superuser', 'bool', 1, None, 0)
(18, 'imagem', 'varchar(100)', 1, None, 0)
(19, 'esportes_praticados', 'varchar(150)', 0, None, 0)
(20, 'telefone', 'varchar(15)', 1, None, 0)

In [7]:
for row in cur.execute('PRAGMA table_info(base_quadra)'):
    print(row)

(0, 'id', 'integer', 1, None, 1)
(1, 'tipo', 'varchar(80)', 1, None, 0)
(2, 'rua', 'varchar(80)', 1, None, 0)
(3, 'CEP', 'integer', 1, None, 0)
(4, 'cidade', 'varchar(80)', 1, None, 0)
(5, 'estado', 'varchar(80)', 1, None, 0)
(6, 'alugada', 'bool', 1, None, 0)
(7, 'estrelas', 'integer', 1, None, 0)
(8, 'descricao', 'text', 1, None, 0)
(9, 'horario_abertura', 'integer', 1, None, 0)
(10, 'horario_fechamento', 'integer', 1, None, 0)
(11, 'telefone', 'varchar(15)', 1, None, 0)
(12, 'valor_hora', 'integer', 1, None, 0)

In [11]:
#usuarios.to_sql('base_usuario', con, if_exists='replace',index=False)
#quadras.to_sql('base_quadra', con, if_exists='replace',index=False)

In [2]:
cur.close()
con.close()

NameError: name 'cur' is not defined